*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
keystore/debug.keystore
.idea/render.experimental.xml
/node_modules
/electron/builds
.idea/deploymentTargetSelector.xml
electron/src/version.js
.github/workflows/android.yml
.github/workflows/desktop.yml
keystore/animetv.keystore
keystore/keystore-info.md
keystore/keystore.base64
