<!DOCTYPE html>
<html>
<head>
    <link rel="preload" href="/__view/firac.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/__view/icon.woff2" as="font" type="font/woff2" crossorigin>
    <link href="/__view/login/login.css?nocache1" rel="stylesheet" type="text/css" />
    <link href="/__view/login/loginp.css?nocache1" rel="stylesheet" type="text/css" media="all and (orientation:portrait)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AnimeTV</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="animetv" class="hide"></div>
<script src="/__view/login/login.js?nocache"></script>
</body>
</html>