<html>
  <head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
<script>
window.onload=function(){
  const host=location.host;
  const source_domains=[
    "aniwave.to",
    "anix.to",
    "hianime.to",
    "aniwatchtv.to",
    "animeflix.live",
    "kaas.to"
  ];
  var _SD=1;
  var _UID="";
  var _SDZ=source_domains.indexOf(host);
  function slugString(Text,rp) {
    if (rp===undefined || rp===null){
      rp=' ';
    }
    return Text.toLowerCase()
      .replace(/[^\w]+/g, " ")
      .replace(/  /g, "  ")
      .replace(/  /g, " ")
      .replace(/  /g, " ")
      .replace(/  /g, " ").trim()
      .replace(/ /g, rp);
  }
  function toInt(x) {
    var x = parseInt(x);
    return isNaN(x)?0:x;
  }
  function $tick() {
    var dt = new Date();
    return dt.getTime();
  }
  const list={
    history:{detail:{},list:[]},
    fav:{detail:{},list:[]},
    store_name:function(name){
      if (_SD==1){
        return _UID+""+name;
      }
      else{
        return _UID+"_anix_"+name;
      }
    },
    load_storage:function(name){
      var itm=localStorage.getItem(list.store_name(name));
      if (itm){
        var j=JSON.parse(itm);
        if (('detail' in j)&&('list' in j)){
          return {detail:j.detail,list:j.list};
        }
      }
      return {detail:{},list:[]};
    },
    save:function(o,name){
      localStorage.setItem(list.store_name(name),JSON.stringify(o));
    },
    del:function(o,id){
      var pos=o.list.indexOf(id);
      if (pos>=0){
        o.list.splice(pos,1);
        delete o.detail[id];
      }
    },
    load:function(){
      list.history=list.load_storage('list_history');
      list.fav=list.load_storage('list_fav');
    }
  };

  if (_SDZ>=0){
    _SD =_SDZ+1;
    _UID=_JSAPI.profileGetPrefix();
    var _VARNAME=_UID+"global_list";
    list.load();

    // console.log(list.history);
    // console.log(list.fav);
    function listing(l,out_d,out_t){
      for (var i=0;i<l.list.length;i++){
        var k=l.list[i];
        if (k in l.detail){
          var dt=l.detail[k];
          var vslud=dt.title_jp?dt.title_jp:dt.title;
          vslud=vslud.replace(/\([^)]*\)/g,'');
          var n="a_"+slugString(vslud,'');
          if (!(n in out_d)){
            out_d[n]={
              s:[], /* sources */
              e:{}, /* episode progress */
              p:dt.ep /* last episode */
            };
          }
          od=out_d[n];
          if (toInt(od.p)<toInt(dt.ep)){
            od.p=dt.ep;
          }
          if ('play' in dt){
            if (dt.play[1]>0){
              var val=parseFloat(((dt.play[0] * 100.0) / dt.play[1]).toFixed(2));
              if (val>0 && val<=100){
                od.e['e'+dt.ep]=val;
              }
            }
          }
          od.s[_SD]={
            e:dt.title, /* en */
            j:dt.title_jp?dt.title_jp:dt.title, /* jp */
            i:dt.poster, /* posted */
            t:dt.tip, /* ttip */
            u:dt.url /* real url */
          };
          if (out_t.indexOf(n)==-1){
            out_t.push(n);
          }
        }
      }
    }
    var out=_JSAPI.varGet(_VARNAME,{
      detail:{},
      history:[],
      fav:[]
    });
    // console.log(JSON.parse(JSON.stringify(out)));
    listing(list.history, out.detail, out.history);
    listing(list.fav, out.detail, out.fav);
    _JSAPI.varSet(_VARNAME,out);
    console.log("Export from "+source_domains[_SDZ]);
    // console.log(JSON.stringify(out));

    if (_SDZ<source_domains.length-1){
      setTimeout(function(){
        var ts=_SDZ+1;
        location=('https://'+source_domains[ts]+'/__view/export.html?'+$tick());
      },200);
    }
    else{
      _JSAPI.reloadHome();
    }
  }
  else{
    _JSAPI.reloadHome();
  }
};
</script>
</head><body style="background:#000;color:#fff;text-align: center;font-family: sans-serif;padding-top: 49vh;">
<script>document.write("Exporting old "+location.host+" history &amp; watchlist...");</script>
</body></html>