@font-face {
  font-family: 'robotoc';
  src: url('robotoc.ttf') format('truetype');
}

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url(icon.woff2) format('woff2');
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: robotoc, arial, tahoma, sans-serif;
  font-size: 10px;
  font-weight: normal;
  background-color: #012;
  color: #fff;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background-size: cover;
  background-attachment: fixed;
}

@keyframes mainbgimage_keyframe {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mainbgimage {
  object-fit: cover;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 5s linear;
  opacity: 1;
}

.mainbgimage.nonactive {
  opacity: 0 !important;
}

.mainbgimage.mainbgidimage {
  opacity: 0 !important;
}

*:not(input):not(textarea) {
  user-select: none;
}

* {
  cursor: default;
}

#home {
  transition: background-color 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* PLAYBACK */
#playback {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
  transform: scale(.5);
  opacity: 0;
  visibility: hidden;
  background-color: #000;
}

#playback.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#playback_video video,
#playback_video iframe{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  border: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
  visibility: hidden;
  opacity: 0;
}
#playback_video.ready video, 
#playback_video.ready iframe{
  opacity:1;
  visibility: visible;
}

#playback_menu {
  position: absolute;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  right: 0;
  top: 0;
  width: 30vw;
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  transform: translateX(40vw);
  overflow: hidden;
}

#playback_menu div {
  display: block;
  padding: .5vw;
  height: 6vw;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: left;
  margin-bottom: .2vw;
  line-height: 6vw;
  color: #fff;
  text-shadow: .05vw .05vw .05vw #000;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

#playback_menu div.sel {
  background-color: rgba(0, 120, 0, 0.6);
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}

#playback_menu div img {
  width: 6vw;
  height: 6vw;
  float: left;
  object-fit: cover;
  margin-right: 1vw;
}

#playback_menu div span {
  display: block;
  position: absolute;
  right: .5vw;
  top: .5vw;
  width:4vw;
  line-height: 6vw;
  font-size: 3.5vw;
  z-index: 100;
}

#playback_skip{
    position: absolute;
    z-index: 250;
    bottom: 5vw;
    left: 5vw;
    font-size: 2vw;
    text-shadow: 0 0 .2vw #000, 0 .1vw .1vw #000;
    background: rgba(255,255,255,0.4);
    color:#fff;
    text-align: center;
    width:9vw;
    border: .01vw solid #fff;
    border-radius:.1vw;
    line-height:3vw;
    visibility:hidden;
}

#playback_title {
  position: absolute;
  z-index: 250;
  top: 3vw;
  left: 5vw;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 0 0 .2vw #000;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  visibility: hidden;
  opacity: 0;
}

#playback_state.show #playback_menu {
  transform: translateX(0vw);
}

#playback_timing{
  position:absolute;
  bottom:2vw;
  top:auto;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 250;
  transition: width 0.15s cubic-bezier(.25, .8, .25, 1);
  height:.6vw;
}
#playback_timing.show {
  visibility: visible;
  opacity: 1;
}
#playback_time_pos,
#playback_time_dur{
  position:absolute;
  font-size:.8vw;
  bottom:0;
  line-height: 1;
  text-shadow: 0 0 .2vw #000, .05vw .05vw .05vw #000;
}
#playback_time_pos{
  left:1vw;
  width:8vw;
  text-align: right;
}
#playback_time_dur{
  right:1vw;
  width:8vw;
  text-align: left;
}
#playback_track{
  position:relative;
  left:10vw;
  right:10vw;
  width:80vw;
  height:.5vw;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}
#playback_track_pos{
    position:relative;
    width:0%;
    height:.5vw;
    background:#080;
    transition: width 0.15s cubic-bezier(.25, .8, .25, 1);
}


#playback_state.loading #playback_title,
#playback_state.show #playback_title {
  visibility: visible;
  opacity: 1;
}

/* BODY */
body.home_item #home {
  background-color: rgba(10, 0, 20, .5);
}

body.home_bottom #home {
  background-color: rgba(0, 10, 20, .7);
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: #111;
  cursor: default;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #118811;
  border: none;
  cursor: default;
  border-radius: 2px;
}

c {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

@keyframes loader_keyframe {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

c.loader {
  animation: loader_keyframe 1s linear infinite;
}

#home {
  position: relative;
  z-index: 100;
}

#home h1 {
  margin: 0;
  padding: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: right;
  font-size: 6vw;
  height: 15vw;
  line-height: 15vw;
  font-weight: bold;
  text-shadow: .2vw .2vw .2vw #000;
}

#homepaging {
  text-align: center;
  color: rgba(255, 255, 255, .6);
  text-shadow: .2vw .2vw .2vw #000;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

#homepaging div {
  width: 43vw;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: .5vw;
  line-height: 4vw;
  color: #fff;
  border-radius: .5vw;
  text-shadow: .05vw .05vw .05vw #000;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  background-color: rgba(60, 60, 60, 0.2);
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25);
}

#homepaging div c {
  font-weight: bold;
}

#homepaging div.sel {
  background-color: #080;
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}

#home_search {
  position: absolute;
  left: 8vw;
  top: 4vw;
  width: 7vw;
  height: 7vw;
  line-height: 7vw;
  font-size: 4vw;
  text-align: center;
  border-radius: 10vw;
  background: #249;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  transform: scale(.9);
}

#homepage {
  position: absolute;
  left: 22vw;
  /*17vw;*/
  top: 6.5vw;
  font-size: 2vw;
  color: #fff;
}

#homelang {
  position: absolute;
  left: 16.5vw;
  top: 6.2vw;
  padding: .3vw 0 .3vw 0;
  width: 4vw;
  background-color: #600;
  font-size: 2vw;
  color: #fff;
  text-align: center;
  border-radius: .4vw;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  text-shadow: .1vw .1vw .1vw #000;
}

#homelang.sel {
  background: #080;
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}

#home_search.sel {
  transform: scale(1);
  background: #080;
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}

#homelist {
  margin-left: 5vw;
}

#homelist div {
  position: relative;
  width: 23vw;
  height: 32vw;
  overflow: hidden;
  display: inline-block;
  transform: scale(.8);
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  outline: none;
  outline: .15vw solid #000;
  background-color: #000;
}

#homelist div.sel {
  transform: scale(.95);
  outline: .4vw solid #0a0;
  border-radius: 0.2vw;
  box-shadow: 0 .14vw .28vw rgba(0, 0, 0, 0.25), 0 1vw 1vw rgba(0, 0, 0, 0.22);
}

#homelist div b {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5vw;
  color: #fff;
  font-size: 1.4vw;
  line-height: 1.4;
  text-shadow: 0 0 .2vw #000, .05vw .05vw .05vw #000;
  transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
  z-index: 1;
}

#homelist div.sel b {
  background-color: rgba(0, 0, 0, 0.4);
}

#homelist div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 23vw;
  height: 32vw;
  z-index: 0;
  animation: mainbgimage_keyframe .8s linear 1;
}

#homelist div span {
  z-index: 1;
  position: absolute;
  right: .5vw;
  top: .5vw;
  background: #040;
  color: #fff;
  text-shadow: .05vw .05vw .05vw #000;
  font-size: 1vw;
  padding: .1vw .5vw .1vw .5vw;
  border-radius: .2vw;
  box-shadow: 0 .05vw .1vw rgba(0, 0, 0, 0.4);
}