<!DOCTYPE html>
<html class="theme_dark">
<head>
    <link rel="preload" as="image" href="bg.webp">
    <link href="m.css" rel="stylesheet" type="text/css" />
    <title>AnimeTV JMTO</title>
</head>
<body>
<div id="home">
    <c id="home_search">search</c>
    <div id="homelang">EN</div>
    <div id="homepage"></div>
    <h1>AnimeTV JMTO</h1>
    <div id="homelist"></div>
    <div id="homepaging">
        <div id="homeprev" style="visibility:hidden"><c>chevron_left</c> PREV</div>
        <div id="homenext" style="visibility:hidden">NEXT <c>chevron_right</c></div>
    </div>
</div>
<div id="playback">
    <div id="playback_state">
        <h1 id="playback_title">Loading...</h1>
        <video id="playback_video"></video>
        <div id="playback_skip">Skip</div>
        <div id="playback_track"><div id="playback_track_pos"></div></div>
        <div id="playback_menu">
        </div>
    </div>
</div>
<script src="m.js"></script>
</body>
</html>