<!DOCTYPE html>
<html class="ani_quick">
<head>
    <link rel="preload" as="image" href="bg.webp">
    <link href="m.css?nocache" rel="stylesheet" type="text/css" />
    <title>AnimeTV JMTO</title>
</head>
<body>
<div id="home">
    <div id="home_header" class="home_header">
        <c id="home_search">search</c>
        <h1>AnimeTV JMTO</h1>
        &nbsp;
    </div>
    <div id="home_slide" list-title="Hot" class="home_list pb_menu"></div>
    <div id="home_recent" list-title="Recently Updated" class="home_list pb_menu"></div>
    <div id="home_trending" list-title="Trending Episodes" class="home_list pb_menu"></div>
    <div id="home_top" list-title="Top Anime" class="home_list pb_menu"></div>
    <div id="home_random" list-title="Random Anime" class="home_list pb_menu"></div>
</div>
<div id="search">
    <input id="search_keyword" value="" placeholder="Search Anime...">
    <div id="search_genre" list-title="Genre" class="home_opt_list pb_menu"></div>
    <div id="search_result" list-title="Search Result" class="home_list pb_menu"><p></p></div>
</div>
<div id="pb">
    <div id="pb_vid"></div>
    <div id="pb_loading"><span class="z-loader"></span><b id="pb_load">LOADING DATA</b></div>
    <div id="pb_meta">
        <div id="pb_title"></div>
        <div id="pb_desc"></div>
        <div id="pb_genres" class="pb_menu"></div>
        <div id="pb_settings" class="pb_menu"></div>
    </div>
    <div id="pb_actions">
        <div id="pb_iactions">
            <div id="pb_tracks">
                <div id="pb_track_left">
                    <c id="pb_track_ctl">play_circle</c>
                    <span id="pb_track_pos">-</span>
                </div>
                <div id="pb_track_title"></div>
                <div id="pb_track_dur"></div>
                <div id="pb_track"><div id="pb_track_val"></div></div>
            </div>
            <div id="pb_lists">
                <div id="pb_episodes" class="pb_menu"></div>
                <div id="pb_seasons" class="pb_menu"></div>
                <div id="pb_related" class="pb_menu"></div>
                <div id="pb_recs" class="pb_menu"></div>
            </div>
        </div>
    </div>
    <div id="pb_events">
        <div id="pb_event_skip"><span>SKIP INTRO <c>fast_forward</c></span></div>
    </div>
</div>
<script src="m.js?nocache"></script>
</body>
</html>