<!DOCTYPE html>
<html>
<head>
    <link rel="preload" as="image" href="bg.webp">
    <link href="m.css" rel="stylesheet" type="text/css" />
    <title>AnimeTV JMTO</title>
</head>
<body>
<div id="pb">
    <div id="pb_vid"></div>
    <div id="pb_loading"><span class="z-loader"></span><b id="pb_load">Loading...</b></div>
    <div id="pb_actions">
        <div id="pb_meta">
            <div id="pb_title"></div>
            <div id="pb_desc"><b><span>3 SESSION</span><span>12 EPISODE</span><span>TV</span><span>HD</span></b>The demise of a member in the Astronomy Club marked the beginning of the club's alleged ghostly presence. One sleep-deprived and grumpy Ganta Nakami, stumbled upon the laid-back yet mildly rebellious Isaki Magari in the</div>
            <div id="pb_genres" class="pb_menu"></div>
        </div>
        <div id="pb_iactions">
            <div id="pb_tracks">
                <div id="pb_track_pos">-</div>
                <div id="pb_track_dur">-</div>
                <div id="pb_track"><div id="pb_track_val"></div></div>
            </div>
            <div id="pb_lists">
                <div id="pb_episodes" class="pb_menu"></div>
                <div id="pb_seasons" class="pb_menu"></div>
                <div id="pb_related" class="pb_menu"></div>
            </div>
        </div>
    </div>
</div>
<script src="m.js"></script>
</body>
</html>